.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    top: 30%
    right: 70%
  &-2
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 31%
    right: 20%
  &-3
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 61%
    right: 30%


@keyframes float1
  0%
    transform: translateY(20px)

  100%
    transform: translateY(0px)

.tarjeta--a
  background-color: #bddcf6
.acordion__activo
  background-color: #fff7e0
span.r
  &--v
    color: #2f972f
    font-weight: 550
  &--m
    color: #be2fe1
    font-weight: 550
  &--r
    color: #a31515
    font-weight: 550
  &--a
    color: #164bee
    font-weight: 550
  &--d
    color: #927c4e
    font-weight: 550
.linea-tiempo-d.color-primario .linea-tiempo-d__item--selected .linea-tiempo-d__item__number
  background-color: #d2f3f8 !important
.linea-tiempo-d__item--selected .linea-tiempo-d__item__content__title, .linea-tiempo-d__item__content__slot
  background-color: #d2f3f8 
.acordion__accion__btn--b, .acordion__accion__btn--a
  background-color: $color-acento-botones
  border: none
.crd_hover_txt
  position: relative  
  padding: 0 !important
  overflow: hidden !important  
  &:hover    
    .crd_hover_txt--body   
      transition: all 0.5s cubic-bezier(0.42, 0, 0.58, 1) 
      transform: translateY(0)

  .crd_hover_txt--body
    position: absolute
    padding: 1.5rem
    bottom: 0    
    transition: all 0.5s cubic-bezier(0.42, 0, 0.58, 1)
    transform: translateY(calc( 100% - 3.85rem ))
    background-color: rgba(77, 208, 225, .9) 
  
  @media (min-width:1200px) and (max-width:1400px)  
    .crd_hover_txt--body
      p
        font-size: 0.85em


/* AB */        
.tema2 .tabs-a__tab
  background-color: #E8E8E8
  padding: 15px
@media (min-width: 1200px)
  .tabs-a.tema2 .col-xl-3 
    width: 39%
  .tabs-a.tema2 .col-xl-9
    width: 61%
    
.tabs-a__tab
  padding: 5px 10px